= render "shared/shared"
.chatBox
  .chatBoxTop
    .chatBoxTop__editButton
      = link_to 'Edit', edit_group_path(@group.id)
    .chatBoxTop__groupName
      = @group.name
    .chatBoxTop__groupMember
      = render "shared/member"
  .chatBoxSpaceArea
  .chatBoxBody{ id: 'message_id' }
    = render "shared/message"
  .chatBoxFooter
    = form_for [@group, @message], html: { class: 'form js-form' } do |f|
      = f.text_field :text, class: "chatBoxFooter__typingBox js-form__text-field", placeholder: "type a message"
      = f.label "avatar", { class: "fa fa-image" } do
        = f.file_field :avatar, style: "display: none;"
      = f.submit "Send", class: "chatBoxFooter__sendMessageButton"
