.chat-group-form
  %h1 新規チャットグループ
  = form_for @group, html: {id: 'new_chat_group_new_chat_group'} do |f|
    - if @group.errors.any?
      .chat-group-form__errors
        %h2
          = @group.errors.count
          件のエラーが発生しました。
          %ul
            - @group.errors.full_messages.each do |message|
              %li
                = message

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, 'グループ名', class: 'chat-group-form__label'
      .chat-group-form__field--right
        = f.text_field :name, placeholder: 'グループ名を入力してください', id: 'chat_group_name', class: 'chat-group-form__input'

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, 'チャットメンバーを追加', class: 'chat-group-form__label'
      .chat-group-form__field--right
        .chat-group-form__search.clearfix
          = f.text_field :name, placeholder: "追加したいユーザー名を入力してください", type:  "text", id: 'user-search-field', class: 'chat-group-form__input'
        #user-search-result

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, 'チャットメンバー', id: 'chat-group-member', class: 'chat-group-form__label'
      .chat-group-form__field--right
        #chat-group-users
          #chat-group-user.chat-group-user.clearfix
            %input{name: "chat_group[user_ids][]", type: "hidden", value: "#{current_user.id}"}
            %p.chat-group-user__name

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.button :Save, class: 'chat-group-form__action-btn'
